@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "league-spartan";
    src: url(media/font/LeagueSpartan-Bold.otf);
}


*{
    padding:0;
    margin:0;
  
}
.navbar-main{
    background-color: #020A2E;
}
.navbar{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    height: 79px;
}
a{
  padding: 5px;
}
h1{
    margin-bottom: 0px;
}
.navbar h1{
    font-weight:700;
    font-size: 32px;
   
}

.d-flex{
    padding: 300px;
}